#contain all of the CSS styling rules that will be applied to your web page.
* {
  font-family: Helvetica, Arial, sans-serif;
}
body {
    background-color:Black
}

h1 {
  color: SeaGreen;
}


p,
li {
  font-size: 18px;
  color:White
}


a {
  text-decoration: none;
}
